dist
node_modules
.nyc_output
coverage

.idea

/apps/api/src/environment/sewing-notebook-service-account.json
/apps/api/src/environment/sewing-notebook-service-account-test.json
/.env
/.env.test
/.env.prod
/.env.staging
